/* width & height exampels */
@media (max-width: 1600px) {
    .left-block,
    .right-block {
        border-radius: 30px;
    }
}
@media (max-width: 1050px) {
    .wraper-box {
    flex-direction: column;
    align-items: center;
    }
}